<!DOCTYPE html>
<html lang="en">
<%- include('header.html', {}) %>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="margin-left: 0;">
    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card card-solid">
        <div class="card-body pb-0">
          <div class="row d-flex align-items-stretch">
            <% allMyTokoProducts.list_data.forEach(function(data){ %>
              <%- include('product-catalog-card.html', {data: data}) %>
            <% }); %>

          </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          <%- include('../pagination/navigation.html', {}) %>
        </div>
        <!-- /.card-footer -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

</div>
<!-- ./wrapper -->
<%- include('bottom.html', {}) %>
</body>
</html>