
<tr>
    <td>
        <%=data.product_id.name%>
    </td>
    <td>
    <img alt="Avatar" class="rounded img-fluid img-thumbnail" width="100" src="/renderfile/<%=data.product_id.image_id.filename%>.<%=data.product_id.image_id.file_type%>">
    </td>
    <td>
        <%=data.amount/data.count%>
    </td>
    <td>
        <%=data.count%>
    </td>
    <td>
        <%=data.amount%>
    </td>
    <td class="project-actions text-right">
        <div class="btn-group">
            <button onclick="buttonDecProductCount('<%=data.product_id._id%>')" type="button" class="btn btn-info">-</button>
            <button onclick="buttonIncProductCount('<%=data.product_id._id%>')" type="button" class="btn btn-info">+</button>
          </div>
    </td>
</tr>